* {
  margin: 0;
  padding: 0;
}
:root {
  --white: #fff;
  --lightPink: #f3cece;
  --black: #000;
  --lightGrey: #666060;
  --lightGreen: #1bc47d;
  --lightBlue: #eaf2fd;
}
html,
body {
  overflow-x: hidden;
}
header{
  background-color: var(--white);
  box-shadow: -1px 13px 17px -5px rgba(161,145,145,0.19);
-webkit-box-shadow: -1px 13px 17px -5px rgba(161,145,145,0.19);
-moz-box-shadow: -1px 13px 17px -5px rgba(161,145,145,0.19);
padding: 30px 0 20px;
position: relative;
}
.navContainer{
  margin: 0 auto;
  width: 70%;
}
.navContainer2{
  display: none;
}
.flexNav{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.flexNav2{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.fas{
  color: black;
}
.fa-bars, .fa-times{
  font-size: 30px;
}
.fa-times{
  display: none;
}
.menu {
  background-color: var(--white);
  height: 30px;
  color: var(--black);
}
.logo {
  height: 40px;
  margin-top: -10px;
}
.flex4{
  width: 120px;
  text-align: center;
}
.flex7{
  background-color: var(--black);
  color: var(--white);
  border-radius: 5px;
  padding: 10px 40px;
  font-weight: 500 !important;
  font-size: 15px;
  margin-top: -10px;
}
body {
  box-sizing: border-box;
  height: auto;
}
ul,
li {
  list-style-type: none;
  font-family: "inter", sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 800;
  font-family: "epilogue", sans-serif;
  margin: 0 0 10px;
}
h2 {
  font-size: 2.5em;
}
p {
  font-weight: 400;
  text-align: center;
  font-family: "inter", sans-serif;
  margin: 0 0 10px;
  font-size: 1.2em;
  color: var(--lightGrey);
}
.div1 {
  padding: 30px 5% 0;
}
.heading {
  padding: 0 0 0 5%;
  text-align: left;
}
.heading2 {
  padding: 0 5% 0 0 !important;
}
.text1 {
  padding: 10px 15% 0;
  text-align: center;
  color: var(--lightGrey);
}
.text2 {
  padding: 10px 5% 0;
  text-align: center;
  color: var(--lightGrey);
  line-height: 35px;
  font-size: 20px;
}
.text4 {
  padding: 10px 5% 0 0 !important;
}
.section1 {
  padding: 50px 10% 0;
  text-align: center;
}
.topSpace {
  padding: 40px 0 0;
}
.overFlow {
  overflow: hidden !important;
  padding: 50px 70px 70px;
}
.position {
  position: relative;
}
.smallText {
  font-weight: 500;
  font-size: 17px !important;
  text-align: right !important;
}
.logoContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 0;
  margin: 40px 0;
  justify-content: space-evenly;
  background-color: var(--white);
  z-index: 1;
  position: absolute;
  top: 70%;
  width: 100%;
}
.logoContainer2 {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  margin: 40px 0;
  justify-content: space-evenly;
  background-color: var(--white);
  width: 100%;
}
@media only screen and (max-width: 769px) {
  .logoContainer {
    padding: 20px 10px;
  }
}
.logoWidth {
  width: 20%;
}
.image1 {
  margin: 60px 0 0;
  width: 90%;
}
.section2 {
  background-color: var(--lightPink);
  margin: 7% 0 0;
  padding: 20px 50px;
  z-index: 5;
  position: relative;
}
.section6 {
  background-color: var(--lightPink);
  margin: 7% 0 0;
  padding: 50px 10%;
  height: 20vh;
}
.div2 {
  position: relative;
}
.image2 {
  height: 230px;
  position: absolute;
}
.section3 {
  width: 60%;
  text-align: left;
  padding: 30px 10% 30px 30%;
  font-family: "epilogue", sans-serif;
}
.text3 {
  text-align: left;
  font-size: 25px;
  color: var(--black);
}
.block {
  background-color: var(--black);
  color: var(--white);
  border-radius: 5px;
  padding: 5px;
  font-family: "epilogue", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 10px 0 20px;
  display: inline-block;
  cursor: pointer;
}
.button {
  border-radius: 0 !important;
  margin: 0 0 20px !important;
  padding: 10px 30px !important;
}
.bold {
  font-weight: bold;
  font-family: "epilogue", sans-serif;
  color: var(--black);
}
.small {
  font-family: "inter", sans-serif;
  font-size: 14px;
  text-align: left;
  color: var(--black);
}
.section4 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5em;
  align-content: center;
}
.item {
  flex: 1;
  padding: 0 30px;
  min-width: 200px;
}
.img {
  width: 100px;
  padding: 30px 0;
  border-radius: 50%;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.halfWidth {
  width: 45%;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}

.link {
  color: var(--lightGreen);
  font-weight: bold;
  font-size: 20px;
}
.textImg {
  height: 70vh;
}
.section5 {
  margin: 100px 50px 50px 50px;
  box-sizing: border-box;
  overflow: hidden !important;
}
.div3 {
  width: 60%;
  text-align: left;
}
.div4 {
  width: 40%;
}
.colorBlack {
  color: var(--black) !important;
  text-align: left;
  line-height: 50px;
  font-size: 35px;
}
.actionButton {
  background-color: black;
  color: var(--white);
  border: 0px solid black;
  padding: 5px;
  float: right;
  width: 200px;
  font-family: "inter", sans-serif;
  font-size: 18px;
  display: block;
}
.div5 {
  width: 95%;
  background-color: var(--lightBlue);
  margin: 30px auto;
  padding: 50px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.overFlow {
  overflow: hidden !important;
  padding: 50px 10% 70px;
}
.logoText1 {
  width: 70%;
  float: right;
}
.logoText2 {
  width: 30%;
  float: left;
}
.leftAlign {
  text-align: justify !important;
  margin-left: 10%;
}
.textAlign {
  text-align: right;
}
.img2 {
  margin-right: 10%;
}
/* .space{
  padding: 20px 20px !important;
} */

.footer {
  font-family: "Inter", sans-serif;
  background-color: var(--black);
  width: 100%;
  box-sizing: border-box;
}
.flexContainer {
  display: flex;
  padding: 90px 60px 100px 60px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footerHeading {
  font-weight: bold;
}
.flexItem {
  padding: 0 20px;
  width: 100px;
}
.flexItem > p {
  color: #f0f0f0 !important;
  text-align: left;
  font-size: 16px !important;
  padding-bottom: 5px;
}
.placeholderImg {
  display: block;
}
.footerSection {
  padding: 0 60px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: left;
}
.footerSection > p {
  color: var(--white);
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
}
.footerSect {
  text-align: left;
}
.footerSectionItem {
  display: inline-block;
  margin-right: 10px;
}
.footerHeading {
  letter-spacing: 1px;
}

.footerSpace {
  margin-bottom: 40px;
}
@media only screen and (max-width: 1200px) {
  .section1 {
    padding: 30px 5% 0;
  }
  .section3 {
    padding: 30px 10% 30px 40%;
  }
  .section5 {
    margin: 20px 50px 50px 50px;
  }
  .heading {
    padding: 0;
  }
  .placeholderImg {
    margin-top: 15vh;
  }
  .navContainer{
    width: 90%;
  }
}
@media only screen and (max-width: 700px) {
  .halfWidth {
    width: 100%;
  }
  .section1 {
    padding: 30px 2% 0;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.9em;
  }
  .image2 {
    display: none;
  }
  .section3 {
    padding: 30px 2%;
    width: 100%;
  }
  .text3 {
    font-size: 20px;
  }
  .block {
    font-size: 18px;
  }
  .section2 {
    padding:20px;
    margin-top: 40px;
  }
  .text2 {
    text-align: justify;
  }
  .text2,
  .text1 {
    padding: 10px 2% 0;
  }
  .logoWidth {
    width: 25%;
  }
  .section4 {
    padding: 2em;
  }
  .textImg {
    height: auto;
  }
  .floatLeft,
  .floatRight {
    float: none;
  }
  .placeholderImg {
    margin-top: 0;
  }
  .div3,
  .div4 {
    width: 100%;
    text-align: left;
  }
  .smallText {
    display: inline-block;
    margin-left: 10px;
  }
  .item {
    padding: 0 20px;
  }
  .logoText1,
  .logoText2 {
    width: 100%;
    float: none;
  }
  .logoText2 {
    text-align: center;
  }
  .leftAlign,
  .img2 {
    text-align: justify !important;
    margin-left: 0;
  }
  .logoContainer2 {
    padding: 0 0 20px;
  }
  .section5 {
    margin: 20px 10px 50px 10px;
  }
  .heading {
    padding: 0 10px;
  }
  .flex4{
    width: 80px;
  }
}
@media only screen and (max-width: 860px) {
  .flexNav{
    display: block;
    background-color: var(--white);
    position: fixed;
    transition: all .5s;
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 100;
    margin-top: 70px;
  } 
  .navContainer2{
    display: block;
  }
  .flex4{
    display: none;
  }
  .flexNav > li{
    line-height: 70px;
  }
  #menu{
    display: none;
  }
  .navContainer{
    width: 100%;
    margin: 0;
  }
  .flex7{
    background-color: var(--white);
    color: black;
    border-radius: none;
    padding: 0;
    font-weight: bold !important;
    font-size: 17px;
    margin-top: 0;
  }
  header{
    padding-top: 0;
    position: fixed;
    width: 100%;
    z-index: 200;
    padding: 0;
 }
 .flexNav2 {
  padding: 20px;
 }
}
@media only screen and (max-width: 680px) {
  .flexContainer {
    padding: 90px 10px 100px 10px;
    justify-content: space-evenly;
  }
  .footerSection {
    padding: 0 30px 20px;
  }
  .flexNav{
    text-align: left;
    padding-left: 30px;
  } 
}
@media only screen and (max-width: 300px) {
  .footerSpace,
  .footerSpace2 {
    margin-bottom: 20px;
  }
  .flexContainer {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .block {
    font-size: 18px;
  }
}